[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
yfinance = "*"
matplotlib = "*"
akshare = "*"
tomli = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
